.app {
}
.tsinfolink {
    position:absolute;
    right:0px;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    text-align: center;
    color: white;
    background: #C0C0C0;
    border-style: solid;
    border-width: 1px;
    margin-top: 25px;
    margin-right: 5px;
    cursor: pointer;
}
.ts-secondary-button {
	color: #00A9E0;
	font-family: NotoSans, Helvetica, Arial;
	background-color: #FFFFFF;
	border:1px solid #00A9E0;
}
.ts-secondary-button:hover {
	color: #00A9E0;
	font-family: NotoSans, Helvetica, Arial;
	background-color: transparent;
	cursor: pointer;
	border:1px solid #00A9E0;
}